---
layout: base
---
<div class="m-auto pl-4 body">
{% for author in collections.author %}
{% include header.liquid %}
{% endfor %}
  <div class="mt-4 mr-2 page1">
    <section class="mx-1">
      <div class="pb-2 border-blueGrey-200 border-b-2 flex flex-row justify-between items-center">
        <h2 class="text-lg text-cyan-900 font-light font-mono">Experience</h2>
        <i class="fas fa-laptop-code text-cyan-600"></i>
      </div>
      <div class="my-2">
        <ul class="entrylist">
        {% for exp in collections.experience reversed %}
          {% assign institute = exp.data %}
          {% assign notes = exp.templateContent %}
          {% include entryitem.liquid %}
        {% endfor %}
        </ul>
      </div>
    </section>
  </div>
  {% include sidebar.liquid %}
  <footer>
    <div class="h-full flex flex-wrap justify-center content-end">
      <div class="text-xs text-blueGrey-700 italic">updated on: {% version %}</div>
    </div>
  </footer>
</div>
