<header class="mt-2">
  <div class="mx2 mt-3 ml-2 border-l-2 border-cyan-600 flex flex-col">
    <div class="pb-2 px-4 flex flex-row justify-between items-center">
      <div class="flex flex-col">
        <div>
          <span class="font-sans text-3xl font-medium text-cyan-900">{{ author.data.author }}</span>
        </div>
        <div>
          <span class="font-sans text-2xl font-light text-blueGrey-800">{{ author.data.title }}</span>
        </div>
      </div>
    </div>
    <div class="pl-4 text-xs text-blueGrey-700">
      {{ author.templateContent }}
    </div>
  </div>
</header>
